<div class="chat chat-wolve" *ngIf="hasChat">
  <div class="chat-container">
    <div *ngFor="let message of messages; let index = index">
      <div class="chat-message-container" [class.right]="message.own">
        <div class="chat-message" [ngClass]="{'own-message' : message.own, 'chat-message' : !message.own}">        
          <div class="tag is-medium"
            [ngClass]="{'alone': messages.length === 1, 
                        'last': index + 1 === messages.length, 
                        'first': index === 0, 
                        'middle': index !== 0 && index + 1 !== messages.length,
                        'is-info': message.from,
                        'is-danger': !message.from }">
            <span class="chat-message-date" *ngIf="message.at; else noDate">[{{message.at | date :'H:mm:ss'}}]</span>        
            <span *ngIf="message.from; else serverMessage">
              <span class="author" *ngIf="message.from">
                <span *ngIf="!isLittleGirl; else isGirl">{{message.from}}</span>
                <ng-template #isGirl>******</ng-template>
              :</span> {{message.message}}
            </span>            
            <ng-template #serverMessage>
              {{message.message}}
            </ng-template>
            <ng-template #noDate></ng-template>
          </div>          
        </div>
      </div>
    </div>    
  </div>
  <div class="chat-form">
    <input type="text" class="chat-input input" [(ngModel)]="message" (keyup.enter)="messageSent(message)" 
           [ngClass]="{'is-disabled': userIsDead}" [disabled]="userIsDead || isLittleGirl || !isNight" />
    <input type="submit" value="Envoyer" class="chat-submit" (click)="messageSent(message)" class="button" [ngClass]="{'is-disabled': userIsDead || isLittleGirl || isNight}" [disabled]="userIsDead">
  </div>
</div>
