<div class="chat">
  <div *ngFor="let message of messages">
    <div class="chat-message-container" [class.right]="message.own">
      <div class="chat-message" [class.own-message]="message.own">
        <span class="chat-message-date">{{message.at | date :'H:mm:ss'}}</span>
        <p class="chat-message-content">{{message.from}} : {{message.message}}</p>
      </div>
    </div>
  </div>
  <div class="chat-form">
    <input type="text" class="chat-input" [(ngModel)]="message" (keyup.enter)="messageSent(message)" />
    <input type="submit" value="Envoyer" class="chat-submit" (click)="messageSent(message)" />
  </div>
</div>
