<div class="loginPage">
  <div class="loginMain">
    <div class="loginModal">
      <h1>LOUP GAROU</h1>
      <h2>Salut {{username ? username : 'toi'}}!</h2>
      <div class="input-container">
        <input [(ngModel)]="username" type="text" name="username" placeholder="Pseudo.." class="input" (keyup.enter)="login(username)" />
        <button type="button" class="button is-primary" [class.is-disabled]="!username" (click)="login(username)">Login</button>
      </div>
    </div>
    <div [hidden]="!error" class="notification is-danger" (click)="error = false">
      <button class="delete"></button>
      <span>Erreur : {{error}}</span>
    </div>
  </div>  
</div>
