<div class="loginPage">
  <div class="loginMain">
    <div class="loginModal">
      <h1>Joue Au Loup Garou</h1>
      <p>
        <input [(ngModel)]="username" type="text" name="username" placeholder="Entre Ton Pseudo" />
        <button type="button" class="btn btn-default" routerLink="UsersLogged" (click)="login(username)">Login </button>
      </p>
    </div>
  </div>

  <div [hidden]="!error" class="errorMessage">
    <code>{{error}}</code>
  </div>

  <a routerLink="UsersLogged">Test accès sur les users</a>

  <div class="ruleGame">
    <h3>Jeu du Loup Garou - <a href="http://lesloupsgarous.free.fr/htm/regles.html"> Régles du jeu </a></h3>
  </div>
</div>
