<div class="game">
  <div class="columns">
    <div class="column">
      <app-timer></app-timer>
      <admin></admin>
      <vote></vote>
      <wolve-chat></wolve-chat>
    </div>
    <div class="column">
      <app-chat></app-chat>
    </div>
  </div>
</div>


<div class="notification is-danger" *ngIf="wolvesWon">
  <button class="delete" (click)="!wolvesWon"></button>
  Les loups ont gagnés :(
</div>

<div class="notification is-success" *ngIf="villagersWon">
  <button class="delete" (click)="!villagersWon"></button>
  Les villageois ont gagnés ! Yoohoo!
</div>